# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\TP2 EX3 repartie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
